.header {
    background-color: #1f1f1f;
    background: linear-gradient(66deg, #e38010, #1535bf);
    grid-area: header;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
    "logo nav";
    align-items: center;
}