.container {
    width: 800px;
    margin: 0 auto;    
    text-align: center;	
    color: black;
}
.text{
    
    padding-bottom: 20px;
}
.flex{
    display: flex; 
    align-items: center;
    align-content: center;
    align-items: flex-start;
}
.flex>div{
    padding: 10px;
}
.new{
    width: 200px;
    margin: 2px;
    padding: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue;
    font-size: 2rem;
    color: #fffffb;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, #ff6b6c, #ffc145, #ffc145, #ff6b6c);
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
}
.field{
    margin:0 auto; 
    width: 300px;
    height: 300px;
    border: solid #000 1px;
}
.buttonGame{
    border: solid #000 1px;
    margin: 4px;
    width: 64px;
    height: 64px;
    float: left;
    background-color: #8FBC8F;
    text-align: center;    
    font-size: 2rem;
    line-height:64px;
    cursor: pointer;
}

.comment{
    width: 200px;    
}
.new:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    -webkit-animation: gradientBG 1.5s ease-in-out forwards;
    animation: gradientBG 1.5s ease-in-out forwards;
    cursor: pointer;
}

.new:active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}
.score{
    padding: 10px;   

}
.comment{
    font-size: 24px;  

}
.comment1{
    color:red;

}