html, body, body > div {
    height: 100%;
}

.wrapper {
    margin: 0;
    color: #fff;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
"header"
"main"
"footer";
}






